html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: margin-box;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
}

.row {
  width: 90vw;
}

.container > * {
  /* margin: 0 0 0.5em 0; */
}
