.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* height: 20em; */
}
.main > * {
  margin: 0 0 0.5em 0;
  text-align: center;
}

.main section {
  display: flex;
  justify-content: space-evenly;
}

.signup-section > div {
  max-width: 200px;
}

.register {
  display: none;
}

/* These 2 below is to toggle the signin and up options */
.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (min-width: 801px) {
  .register {
    display: block;
  }
  .login {
    display: block;
  }

  .show-register-click,
  .show-login-click {
    display: none;
  }
}
